<h1>Item Categories</h1>

<table id="categories-table">
  <thead>
    <tr>
      <th>Name</th>
        <th class="show-for-medium-up">Description</th>
        <th width="100">Edit</th>
        <th width="135">Delete</th>
    </tr>
  </thead>

  <tbody>
    <% @active_item_categories.each do |item_category| %>
      <tr>
        <td><%= link_to item_category.name, item_category %></td>
        <label class="show-for-medium-up">
          <td class="show-for-medium-up"><%= item_category.description %></td>
        </label>
        <td>
          <%= link_to edit_item_category_path(item_category) do %>
            <i class="fa fa-edit"></i>&emsp;
            <label class="show-for-medium-up">Edit</label>
          <% end %>
        </td>
        <td>
          <%= link_to item_category, method: :delete, data: { confirm: 'Are you sure you want to delete this category?' }  do %>
            <i class="fa fa-times"></i>&emsp;
            <label class="show-for-medium-up">Delete</label>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>