<div class="row text-center">
  <div class="small-12 columns">
    <div class="panel">
      <h1><%= @item_category.name %></h1>
    </div>
  </div>
</div>

<div class="row">
  <div class="small-12 columns">
    <div class="panel">
      <table id="category-show-table">
        <thead>
          <tr>
            <th>Item</th>
            <th>Price</th>
            <th>In Stock</th>
          </tr>
        </thead>
        <tbody>
          <% @item_category.items.each do | item | %>
            <tr>
              <td><%= link_to item.name, item %></td>
              <td><%= number_to_currency(item.price) %></td>
              <td><%= item.in_stock %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
