<div class="row"> 
  <div class="large-7 columns">
  <h3>Get In Touch!</h3>
  <p>We would love to hear from you. You can reach out to us and one of our awesome team members will get back to you as soon as possible.</p>
  <div class="section-container tabs" data-section>
    <section class="section panel" id="phone-number">
      <h4 class="title"><a href="#panel1"><i class="fa fa-phone"></i> Call Us</a></h4>
      <h5>715-839-8197</h5>
    </section>
    <section class="section panel">
      <h4 class="title"><a href="#panel2"><i class="fa fa-envelope"></i> Contact Us</a></h4>
      <div class="content" data-slug="panel2">
        <form>
          <div class="row collapse">
            <div class="large-2 columns">
              <label class="inline">Your Name:</label>
            </div>
            <div class="large-10 columns">
              <input type="text" id="yourName" placeholder="John Smith">
            </div>
          </div>
          <div class="row collapse">
            <div class="large-2 columns">
              <label class="inline"> Your Email:</label>
            </div>
            <div class="large-10 columns">
              <input type="text" id="yourEmail" placeholder="jsmith@example.com">
            </div>
          </div>
          <label>What's on your mind?</label>
          <textarea rows="4"></textarea>
          <button type="submit" class="radius button">Submit</button>
        </form>
      </div>
    </section>
  </div>
</div>
 
 
<div class="large-5 columns">
  <p>
    <b>Silver & Stones Gallery</b><br/>
    3006 London Road<br/>
    Eau Claire, WI 54701
  </p>
  <h5>Map</h5>
  <p>
    <a href="" data-reveal-id="mapModal">
        <div class="google-maps">
          <iframe width="385" height="280" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=3006%20London%20Road%2C%20Eau%20Claire%2C%20WI%2C%20United%20States&key=AIzaSyDbWgQmC_4q4uArjq2Gsc5CLp6FxSj7iIQ"></iframe>
        </div>
    </a>
    <br/>
    <%= link_to "Get Directions", "https://www.google.com/maps/dir//3006+London+Rd,+Eau+Claire,+WI+54701/@44.787724,-91.4632049,17z/data=!4m13!1m4!3m3!1s0x87f8bc41d0ef3e2d:0x9bcf24b5ca08aa7b!2s3006+London+Rd,+Eau+Claire,+WI+54701!3b1!4m7!1m0!1m5!1m1!1s0x87f8bc41d0ef3e2d:0x9bcf24b5ca08aa7b!2m2!1d-91.4632049!2d44.787724", :class => "button expand", :id => "get-directions" %>
  </p>
  </div>
</div>