<br />

<div class="row">
  <div class="small-12 medium-6 columns small-centered text-center">
    <h3>Please Log In</h3>
  </div>
</div>

<div class="row">
  <div class="small-12 medium-6 columns small-centered">
    <%= form_for(:session, url: sessions_path) do |f| %>
      <%= f.text_field "username", id: "username", placeholder: "Username" %>
      <%= f.password_field "password", id: "password", placeholder: "Password" %>
      <%= f.submit "Log In", class: "button expand", id: "login" %>
  <% end %>
  </div>
</div>
