<!DOCTYPE html>
<html>
    <head>
        <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    </head>
    <body>
    	<div style="text-align: center;"><%= image_tag "http://silverandstones.gallery/assets/logo.png", style: "max-width: 450px;" %></div>
        <hr />
        <h1>Hello!</h1>
        <p>Here is your receipt from your order with Silver &amp; Stones Gallery.</p>
        <hr />
        <h4>Order date: </h4>
        <table>

        </table>
        <p>Please contact us to ensure delivery and payment method.</p>
        <p>You can stop in, or reach us via one of the following methods:</p>
        <p>Phone: (715) 839-8197</p>
        <p>Email: support@silverandstones.gallery</p>
    </body>

</html>
