<!DOCTYPE html>
<html>
    <head>
        <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    </head>
    <body>
        <h1>Welcome <%= @user.username %> to Silver & Stones</h1>
        <p>Thank you for registering to our website.</p>
        <p>Make sure to check our special jewlery</p>
        <p>Thanks! Have a great day!</p>
    </body>

</html>
