<!DOCTYPE html>
<html>
    <head>
        <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    </head>
    <body>
        <%= raw @content %>

        <hr />
        <small>Don't want to receive more emails from us? <%= link_to "Unsubscribe.", unsubscribe_url(@user.access_token) %></small>
    </body>
</html>
