<div class="row">
    <div class="large-6 columns">
        <h1><%= item.name %></h1>
        <p><%= item.description %></p>
        <h2>$<%= item.price %></h2>
    </div> 
    <div class="large-3 columns">
        <h2>In Stock</h2>
        <h3><%= item.in_stock %></h3>
    </div>
    <div class="large-3 columns">
        <p>Image placeholder</p>
        <p>Image placeholder</p>
        <p>Image placeholder</p>
        <p>Image placeholder</p>
    </div>
</div>
