<% @galleries.each do | gallery | %>
  <div class="row">
    <div class="small-12 columns">
      <div class="panel">
        <%= link_to "#" do %>
          <%= image_tag gallery.picture.url(:medium) %>
        <% end %>
        <hr />
        <%= raw gallery.text %>
      </div>
    </div>
  </div>
<% end %>