/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require font-awesome
 */

/* Override the icon bar styles */
$icon-bar-item-padding: 0.5rem;
$icon-bar-icon-size: 1.25rem;
$icon-bar-image-width: 1.25rem;
$icon-bar-image-height: 1.25rem;

/* Override fonts */
$header-font-family: "Roboto Slab", "Helvetica", Helvetica, Arial, sans-serif;
$header-font-weight: 700;
$paragraph-font-family: "Lato", "Helvetica", Helvetica, Arial, sans-serif;
$paragraph-font-size: 1.1rem;
$button-font-family: "Roboto Slab", "Helvetica", Helvetica, Arial, sans-serif;
$button-font-weight: bold;
$input-font-family: "Roboto Slab", "Helvetica", Helvetica, Arial, sans-serif;
$body-bg: transparent;
 
@import "foundation_and_overrides";
@import "slippry";
@import url(http://fonts.googleapis.com/css?family=Roboto+Slab:400,700|Lato:400,700);

/* CSS Overrides */

.roboto-slab {
	font-family: "Roboto Slab" !important;
}

.lato {
	font-family: "Lato" !important;
}

.soft {
	background-color: rgba(255, 255, 255, 0.75);
}

body {
	background: url('http://portfolios.chuckhaney.com/data/photos/503_1tr_north_unit_053_copy.jpg');
	background-attachment: fixed;
	background-position: center; 
	background-size: cover;
}