<footer class="row">
  <div class="small-12 columns">
    <hr />
    <div class="row">
      <div class="small-6 columns lato">
        <i class="fa fa-copyright"></i>&nbsp;Silver &amp; Stones Gallery 
        <%if Time.now.year == 2014 %> 
          2014
        <% else %>
          <%= "2014 - #{Time.now.year}" %>
        <% end %> 
      </div>
      <div class="small-6 columns lato text-right">
        Proudly using <%= link_to "http://stripe.com" do %>
          <i class="fa fa-cc-stripe"></i> Stripe
        <% end %>
      </div>
    </div>
  </div>
</footer>

<% if Rails.env.development? %>
<div class="row">
  <div class="small-12 columns">
    <hr />
    <div class="panel callout">
      <%= debug(params) %>
    </div>
  </div>
</div>
<% end %>